################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

./vs
/.vs
/.vs/GitFitFlow/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
